*{
    margin: 0;
    padding: 0;
    color: #b5cef5;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    min-height: 100vh;;
    background: #04145c;
}